__pycache__/
*.py[cod]
*.egg-info

# Jupyter Notebook
.ipynb_checkpoints

# Saved test models
test/*.h5
test/tmp.eam.fs

# Models and logs
scripts_and_notebooks/logs/
scripts_and_notebooks/saved_models/
